# Ignore IntelliJ project files
*.iml
.idea/

# Common build folders
target/
build/
bin/
out/

# Ignore Maven build files
maven/
maven-wrapper.jar
maven-wrapper.properties

# Ignore uploads folder
uploads

# Ignore all .log files
*.log
*.jar
*.env
*.tmp
*.class